<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>

    </div>
    <div>
        <h1>List users</h1>

    </div>
    <div class="table-user">
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>

            <% for (let i=0; i < listUsers.length; i++) { %>
                <tr>
                    <td>
                        <%=listUsers[i].id %>
                    </td>
                    <td>
                        <%=listUsers[i].email %>
                    </td>
                    <td>
                        <%=listUsers[i].name %>
                    </td>
                    <td>
                        <%=listUsers[i].city %>
                    </td>
                    <td>
                        <a href="/update/<%= listUsers[i].id%>">Edit</a>
                        <form action="/delete/<%= listUsers[i].id%>" method="post">
                            <button>Delete</button>
                        </form>

                    </td>
                </tr>
                <% } %>
        </table>
    </div>
</body>

</html>